<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lab2</title>
</head>
<body>
<h1>Tableware</h1>
<h3>Add tableware</h3>
<form action="javascript:void(0);" method="POST" onsubmit="addTableware()">
<input type="text" id="add_manufacturer_id" placeholder="Manufacturer Id">
<input type="text" id="add_name" placeholder="Name">
<input type="text" id="add_type" placeholder="Type">
<input type="text" id="add_main_material" placeholder="Main material">
<input type="text" id="add_main_colour" placeholder="Main colour">
<input type="submit" value="Add">
</form>
<div id="editTableware">
<h3>Edit</h3>
<form action="javascript:void(0);" onsubmit="updateTableware()">
<input type="hidden" id="edit_id">
<input type="text" id="edit_manufacturer_id">
<input type="text" id="edit_name">
<input type="text" id="edit_type">
<input type="text" id="edit_main_material">
<input type="text" id="edit_main_colour">
<input type="submit" value="Save">
<a onclick="closeInput()" aria-label="Close">&#10006;</a>
</form>
</div>
<p id="counter"></p>
<table>
<tr>
<th>Id</th>
<th>Manufacturer Id</th>
<th>Name</th>
<th>Type</th>
<th>Main Material</th>
<th>Main colour</th>
</tr>
<tbody id="tableware"></tbody>
</table>
<script src="public/lab2.js" asp-append-version="true"></script>

<script type="text/javascript">
getTableware();
</script>
</body>
</html>