    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                </svg> Rental Service
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
               <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/car/list">Сars</a>
                </li>
               <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/car_model/list">Car models</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/manufacturer/list">Manufacturers</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/customer/list">Customers</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/rental_cases/list">Rental cases</a>
                </li>
            </ul>
            <span class="text-uppercase">
                {{first_name}} {{last_name}}
            </span>
            </div>
        </div>
    </nav>
